dac/CodeAnalysisResult.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="sqlRuleProblemSeverity">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Error" />
            <xs:enumeration value="Unknown" />
            <xs:enumeration value="Warning" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Problems">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Problem">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Rule" type="xs:string" />
                            <xs:element name="ProblemDescription" type="xs:string" />
                            <xs:element name="SourceFile" type="xs:string" />
                            <xs:element name="Line" type="xs:integer" />
                            <xs:element name="Column" type="xs:integer" />
                            <xs:element name="Severity" type="sqlRuleProblemSeverity" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>